<?xml version="1.0"?>
<model>
  <name>STARS Tailsitter Alpha Theory</name>
  <version>1.0</version>
  <sdf version='1.10'>model.sdf</sdf>

  <author>
   <name>Yilun Wu</name>
   <email>yl.wu@robotics.utias.utoronto.ca</email>
  </author>

  <description>
    PhoenixDrone using the parameterized Tailsitter-control alpha-theory model.
  </description>
</model>
